html,body{
    height:100%;
    width:100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: Playfair Display, Arial, serif, Abril Fatface,cursive;
}

p {
    font-size: 100px;
}
.sideinfo{
    background-color: rgb(173, 50, 46);
    color: white;
    z-index: 8;
    text-align: left;
    /*margin: 10px 15px 15px 0px;
    padding: 5px 10px;
    
    
    border: inset solid medium;
    color: black;
    z-index: 8;
    text-align: left;
    text-decoration: none;*/
    display: grid;
    font-size: 12px;

    width: 84%;
    padding: 10px 8% 6px 8%;
}
.sideinfo:hover{
    background-color: rgb(233, 153, 153);
}
#sidebar {
    height: 100%;
    width: 25%;
    position: absolute;
    z-index: 3;
    color: #f13;
    background-color: #f65;
    overflow-x: hidden; 
    display: table;
    left:0;
    top:0;
    bottom:0;
    opacity: 1;
}
#sidebar:hover {
    opacity:1;
}
.box {
    margin: 10px 15px 15px 0px;
    padding: 5px 10px;
    background-color: #ddd;
    border: inset solid medium;
    color: black;
    z-index: 8;
    text-align: center;
    text-decoration: none;
    display: grid;

    font-size: 16px;
}
#rateButton{
    padding: 5px 10px;
    color: white;
    z-index: 8;
    text-align: center;
    display: grid;
    float:middle;
    font-size: 36px;

    background-color: rgb(173, 50, 46);
    width: 84%;
    margin: 15px 8%;
}
#rateButton:hover{
    background-color: rgb(236, 89, 84);
    padding: 12px 8px;
    width: 88%;
    margin: 11px 6%;
}
#sidebarheader{
    background-color: #f44;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-bottom: 0px;
    display:grid;
    z-index:9;
}
#sidebarsubtitle{
    color:rgb(187, 30, 43);
    padding: 10px 20px;
    font-size: 36px;
    font-family: Abril Fatface,cursive;
    position:center;
}
#sideBarXButton{
    padding: 5px 5px 5px 20px;
    float:right;
}
#backgroundImage,#sidebar {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    opacity: 1;/*
    width: 100%;
    height:100%;*/
}
#content {
    position:relative;
    margin-left:0%;
    height: /*900px*/100%;
    width:100%;
    left: 0%;
    top:0%;
    z-index:-1;
}

#map {
    height: /*900px*/100%;
    margin-left: 25%;
    width:auto;

}